---
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  isErrorPage?: boolean;
}

const { title, isErrorPage = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar isErrorPage={isErrorPage} />
    <slot />
  </body>
</html>
